    body {
        background-color: whitesmoke;
        font-family: sans-serif;
    }
    
    a {
        text-decoration: none;
        color: gray;
        font-weight: 500;
    }
    /* div,
    section {
        border: red dashed 1px;
    } */
    
    .emergencyContact {
        background-color: white;
        /* padding: 1em; */
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 5px;
        color: #76839A;
    }
    
    .leftPanel {
        padding-left: 3em;
        padding-right: 2em;
    }
    
    .leftPanel__info__title {
        color: #264476;
        font-size: larger;
        font-weight: bold;
    }
    
    .leftPanel__info {
        font-size: larger;
        padding-bottom: 1em;
    }
    
    .leftPanel__actions {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 15px;
    }
    
    .contactItem {
        border: #F1F5FF solid 2px;
        border-radius: 15px;
        padding: 2em;
        padding-top: 3em;
        padding-bottom: 3em;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 10px;
    }
    
    .contactItem:hover {
        border: 0;
        box-shadow: 0 4px 8px 0 #F1F5FF, 0 6px 20px 0 #F1F5FF;
    }
    
    .contactItem:hover .contactItem__button {
        background-color: #3555D3;
        color: #F1F5FF;
        box-shadow: 0px 10px 5px #F1F5FF;
    }
    
    .contactItem:hover .contactItem__icon {
        border: white solid 1px;
        box-shadow: 0 4px 8px 0 #F1F5FF, 0 6px 20px 0 #F1F5FF;
    }
    
    .contactItem__icon {
        background-color: #F1F5FF;
        padding: 0.5em;
        grid-column: 1;
        grid-row: 1;
        border-radius: 5px;
    }
    
    .contactItem__title {
        grid-column: 2/5;
        grid-row: 1;
        padding: 0;
        padding-left: 0.5em;
        margin: 0;
    }
    
    .contactItem__content {
        color: #76839A;
        padding: 0;
        margin: 0;
    }
    
    .contactItem__button {
        background-color: #F1F5FF;
        color: #3555D3;
        font-weight: bold;
        border: 0;
        padding: 1em;
        margin-top: 2em;
        width: 100%;
        border-radius: 5px;
        grid-column: 1/5;
        grid-row: 3;
    }
    
    .contactItem__title {
        color: #3555D3;
        font-weight: bold;
        font-size: large
    }
    
    .rightPanel {
        padding-left: 2em;
        padding-bottom: 5em;
        text-align: right;
    }
    
    .rightPanel__image {
        position: relative;
        right: 0;
    }
    
    .rightPanel__image img {
        height: 700px;
    }
    
    footer {
        background-color: #EEF3FF;
        color: gray;
        padding-left: 2em;
        padding-right: 2em;
        padding-top: 1em;
    }
    
    .footer__firstSection {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 5px;
        text-align: left;
    }
    
    .informationItem__title {
        color: #3756D4;
        font-weight: bold;
    }
    
    .informationItem__content {
        color: gray;
    }
    
    .footer__navigationItem {
        padding: 1em;
    }
    
    .footer__navigationItem ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    
    .footer__navigationItem li {
        padding-top: 5px;
    }
    
    .navigationItem__title {
        color: #264476;
        font-weight: bold;
        padding-bottom: 1em;
    }
    
    .footer__secondSection {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 5px;
        text-align: left;
        padding: 1em;
    }
    
    .rightsReserved {
        columns: 1/2;
    }
    
    .terms {
        columns: 4;
    }
    
    .privacyPolicy {
        columns: 5;
    }
    
    navigationItem__content {
        color: gray;
    }